<!--recipe Create page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Food!</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
      <h1>Add Food</h1>
      <h2><%=formatedDate%></h2>
      <h2><%=mealType%></h2>
      <a href="/recipeCreate">Create a Recipe Thats Not Found</a>
      <p>Fill out the form to add food into your Diet Tracker:</p>
      <form action="/addDiet" method="post">
          <input type="hidden"
                 value="<%=formatedDate %>"
                 name="date"
                 id="date" />
          <input type="hidden"
                 value="<%=mealType%>"
                 name="mealType"
                 id="mealType" />
          <ul id="RecipeName">
              <li>
                  <div style="display: inline"></div>
                  <select class="Recipe js-example-basic-single"
                          name="RecipeName">
                      <option selected value=""></option>
                      <% for(let i = 0; i < Recipes.length; i++){%>
                      <option value="<%=Recipes.at(i)._id%>"
                              data-unit="<%=Recipes.at(i)._id%>">
                          <%=Recipes.at(i).name%>
                      </option>
                      <%}%>
                  </select>
              </li>
          </ul>
          <input type="submit" value="Submit" />
      </form>
  </body>
</html>
