<!--recipe Create page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Food!</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
      <h1>Add Food for <%=mealType%> on <%=formatedDate%></h1>
      <a href="/recipeCreate">Create a Recipe Thats Not Found</a>
      <p>Fill out the form to add food into your Diet Tracker:</p>
      <form action="/addDiet" method="post">
          <input type="hidden"
                 value="<%=formatedDate %>"
                 name="date"
                 id="date" />
          <input type="hidden"
                 value="<%=mealType%>"
                 name="mealType"
                 id="mealType" />
          <p>Portion Size:
          <select name="portion" id="portion">
              <option value=0.125>1/8</option>
              <option value=0.25>1/4</option>
              <option value=0.33>1/3</option>
              <option value=0.375>3/8</option>
              <option value=0.5>1/2</option>
              <option value=0.6>2/3</option>
              <option value=0.625>5/8</option>
              <option value=0.75>3/4</option>
              <option value=0.875>7/8</option>
              <!-- Add more options as needed -->
          </select></p>
                  <p>Recipe Name to add:
                  <li>
                      <div style="display: inline"></div>
                      <select class="Recipe js-example-basic-single"
                              name="RecipeName">
                          <option selected value=""></option>
                          <% for(let i = 0; i < Recipes.length; i++){%>
                          <option value="<%=Recipes.at(i)._id%>"
                                  data-unit="<%=Recipes.at(i)._id%>">
                              <%=Recipes.at(i).name%>
                              (<%=Recipes.at(i).calories%> Cals)
                          </option>
                          <%}%>
                      </select>
                  </li></p>
             
          <input type="submit" value="Submit" />
      </form>
  </body>
</html>
