<!-- dashboard.ejs -->
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="dashboard.css" />
</head>

<body class="dashboard-page">
  <div class="black-rectangle-top"></div>
  <div class="topPanel">
    <div class="wheat_1"></div>
    <div class="wheat_2"></div>
  </div>

  <header>
    <h1>B o n&nbsp;&nbsp;&nbsp;A p p e t i t</h1>
    <t> healthy cooking</t>
  </header>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About Us</a></li>

      <li class="dropdown">
        <a href="/profile" class="dropbtn">

          Profile
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/dietTracker">Diet Tracker</a>
          <a href="/recipeCreate">Recipe Create</a>
          <a href="/dietPlanCreate">Diet Plan Create</a>
        </div>
      </li>
    </ul>
  </nav>

 <!-- Jokebar -->
 <div class="navbar">
  <%= joke.joke %>
</div> 
    

  <div class="bottomPanel">
    <div class="dashboard_pic"></div>
  </div>

  <div class="top-bottomPanel">
    <h2>LET'S GET</h2>
    <h3>Cooking</h3>
  </div>

  <!-- Search bar for recipe -->

  <div class="inputField">

    <input type="text" class="SearchTextBox" placeholder="Search for recipe" name="search" id="search" onchange="filterRecipes(this.value)"/>
  </div>

  <!-- Recipe container -->
  <div class="recipeContainer">

    <!-- Breakfast recipes -->
    <div class="breakfastContainer">
      <h4>Breakfast</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < breakfastRecipes.length; i++) { %>
          <a href="/recipe/<%=breakfastRecipes.at(i)._id%>" style="text-decoration:none; color:inherit;">
          <% let recipeData = ""; recipeData += breakfastRecipes.at(i).name + "\n" + breakfastRecipes.at(i).description;%>
          <!--tools-->
          <% if(typeof breakfastRecipes.at(i).tools !== 'undefined') for(let j = 0; j < breakfastRecipes.at(i).tools.length; j++){recipeData += breakfastRecipes.at(i).tools.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--ingredients-->
          <% for(let j = 0; j < breakfastRecipes.at(i).ingredients.length; j++){recipeData += breakfastRecipes.at(i).ingredients.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--instructions-->
          <% for(let j = 0; j < breakfastRecipes.at(i).instructions.length; j++){recipeData += breakfastRecipes.at(i).instructions.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--tags-->
          <% for(let j = 0; j < breakfastRecipes.at(i).tags.length; j++){recipeData += breakfastRecipes.at(i).tags.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--mealType-->
          <% recipeData += "Breakfast";%>
          <div data-recipe="<%= recipeData %>" class="recipeBreakfast">
            <h7 class="breakfast-recipe-name">
              <%= breakfastRecipes.at(i).name %>
            </h7>
            <% const creatorDetails = recipeMemberMap[breakfastRecipes[i]._id]; %>
              <div class="creator-info">
                  <% if (creatorDetails.profilePicture) { %>
                  <img src="<%= creatorDetails.profilePicture %>" alt="<%= creatorDetails.name %> Thumbnail"> 
                  <% } %>
                  <p><%= creatorDetails.firstName %> <%= creatorDetails.lastName %></p>
              </div>
            <!-- If image does not have an image need default image loaded instead-->
            <% if(breakfastRecipes[i].thumbnail == null) { %>
              <img src="plate.png" class="recipeBreakfastPic"alt="<%= breakfastRecipes[i].name %> Thumbnail">
            <% } else { %> 
              <img src="data:image/jpeg;base64,<%= breakfastRecipes[i].thumbnail.toString('base64') %>" alt="<%= breakfastRecipes[i].name %> Thumbnail" class="recipeBreakfastPic"> 
            <% } %>
          </div> <!-- data-recipe-->
        <% } %>
      </div> <!-- end recipe wrapper-->
    </div> <!-- breakfast container-->
    
    <!-- Lunch recipes -->
    <div class="lunchContainer">
      <h4>Lunch</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < lunchRecipes.length; i++){%>
          <a href="/recipe/<%=lunchRecipes.at(i)._id%>" style="text-decoration:none; color:inherit;">
          <% let recipeData = ""; recipeData += lunchRecipes.at(i).name + "\n" + lunchRecipes.at(i).description;%>
          <!--tools-->
          <% if(typeof lunchRecipes.at(i).tools !== 'undefined') for(let j = 0; j < lunchRecipes.at(i).tools.length; j++){recipeData += lunchRecipes.at(i).tools.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--ingredients-->
          <% for(let j = 0; j < lunchRecipes.at(i).ingredients.length; j++){recipeData += lunchRecipes.at(i).ingredients.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--instructions-->
          <% for(let j = 0; j < lunchRecipes.at(i).instructions.length; j++){recipeData += lunchRecipes.at(i).instructions.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--tags-->
          <% for(let j = 0; j < lunchRecipes.at(i).tags.length; j++){recipeData += lunchRecipes.at(i).tags.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--mealType-->
          <% recipeData += "Lunch";%>
          <div data-recipe="<%= recipeData %>" class="recipeLunch">
            <h7 class="lunch-recipe-name">
              <%=lunchRecipes.at(i).name%>
            </h7>
            <% const creatorDetails = recipeMemberMap[lunchRecipes[i]._id]; %>
              <div class="creator-info">
                  <% if (creatorDetails.profilePicture) { %>
                  <img src="<%= creatorDetails.profilePicture %>" alt="<%= creatorDetails.name %> Thumbnail"> 
                  <% } %>
                  <p><%= creatorDetails.firstName %> <%= creatorDetails.lastName %></p>
              </div>
            <!-- If image does not have an image need default image loaded instead-->
            <% if(lunchRecipes[i].thumbnail == null) { %>
              <img src="plate.png" class="recipeLunchPic" alt="<%= lunchRecipes[i].name %> Thumbnail">
            <% } else { %> 
              <img src="data:image/jpeg;base64,<%= lunchRecipes[i].thumbnail.toString('base64') %>" class="recipeLunchPic" alt="<%= lunchRecipes[i].name %> Thumbnail"> 
             <% } %>
          </div>
        <% } %>
      </div>
    </div>  <!-- lunch container-->

    <!-- Dinner recipes -->
    <div class="dinnerContainer">
      <h4>Dinner</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < dinnerRecipes.length; i++){%>
          <a href="/recipe/<%=dinnerRecipes.at(i)._id%>" style="text-decoration:none; color:inherit;">
          <% let recipeData = ""; recipeData += dinnerRecipes.at(i).name + "\n" + dinnerRecipes.at(i).description;%>
          <!--tools-->
          <% if(typeof dinnerRecipes.at(i).tools !== 'undefined'){ for(let j = 0; j < dinnerRecipes.at(i).tools.length; j++){recipeData += dinnerRecipes.at(i).tools.at(j) + ",";}}%>
          <% recipeData += "\n";%>
          <!--ingredients-->
          <% for(let j = 0; j < dinnerRecipes.at(i).ingredients.length; j++){recipeData += dinnerRecipes.at(i).ingredients.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--instructions-->
          <% for(let j = 0; j < dinnerRecipes.at(i).instructions.length; j++){recipeData += dinnerRecipes.at(i).instructions.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--tags-->
          <% for(let j = 0; j < dinnerRecipes.at(i).tags.length; j++){recipeData += dinnerRecipes.at(i).tags.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--mealType-->
          <% recipeData += "Dinner";%>
          <div data-recipe="<%= recipeData %>" class="recipeDinner">
            <h7 class="dinner-recipe-name">
              <%=dinnerRecipes.at(i).name%>
            </h7>
            <% const creatorDetails = recipeMemberMap[dinnerRecipes[i]._id]; %>
              <div class="creator-info">
                  <% if (creatorDetails.profilePicture) { %>
                  <img src="<%= creatorDetails.profilePicture %>" alt="<%= creatorDetails.name %> Thumbnail"> 
                  <% } %>
                  <p><%= creatorDetails.firstName %> <%= creatorDetails.lastName %></p>
              </div>
            <!-- If image does not have an image need default image loaded instead-->
            <% if(dinnerRecipes[i].thumbnail == null) { %>
              <img src="plate.png" class="recipeDinnerPic" alt=" <%= dinnerRecipes[i].name %> Thumbnail">
            <% } else { %> 
              <img src="data:image/jpeg;base64,<%= dinnerRecipes[i].thumbnail.toString('base64') %>" class="recipeDinnerPic" alt="<%= dinnerRecipes[i].name %> Thumbnail" >  
            <% } %>
          </div>

        <% } %>
      </div>
    </div>

    <!-- Snacks recipes -->
    <div class="snacksContainer">
      <h4>Snacks</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < snackRecipes.length; i++){%>
          <a href="/recipe/<%=snackRecipes.at(i)._id%>" style="text-decoration:none; color:inherit;">
          <% let recipeData = ""; recipeData += snackRecipes.at(i).name + "\n" + snackRecipes.at(i).description;%>
          <!--tools-->
          <% if(typeof snackRecipes.at(i).tools !== 'undefined') {for(let j = 0; j < snackRecipes.at(i).tools.length; j++){recipeData += snackRecipes.at(i).tools.at(j) + ",";}}%>
          <% recipeData += "\n";%>
          <!--ingredients-->
          <% for(let j = 0; j < snackRecipes.at(i).ingredients.length; j++){recipeData += snackRecipes.at(i).ingredients.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--instructions-->
          <% for(let j = 0; j < snackRecipes.at(i).instructions.length; j++){recipeData += snackRecipes.at(i).instructions.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--tags-->
          <% for(let j = 0; j < snackRecipes.at(i).tags.length; j++){recipeData += snackRecipes.at(i).tags.at(j) + ",";}%>
          <% recipeData += "\n";%>
          <!--mealType-->
          <% recipeData += "Snack";%>
          <div data-recipe="<%= recipeData %>" class="recipeSnacks">
            <h7 class="snack-recipe-name">
              <%=snackRecipes.at(i).name%>
            </h7>
            <% const creatorDetails = recipeMemberMap[snackRecipes[i]._id]; %>
              <div class="creator-info">
                  <% if (creatorDetails.profilePicture) { %>
                  <img src="<%= creatorDetails.profilePicture %>" alt="<%= creatorDetails.name %> Thumbnail"> 
                  <% } %>
                  <p><%= creatorDetails.firstName %> <%= creatorDetails.lastName %></p>
              </div>
            <!-- If image does not have an image need default image loaded instead-->
            <% if(snackRecipes[i].thumbnail == null) { %>
              <img src="plate.png" class="recipeSnacksPic" alt="<%= snackRecipes[i].name %> Thumbnail" > 
            <% } else { %> 
              <img src="data:image/jpeg;base64,<%= snackRecipes[i].thumbnail.toString('base64') %>" class="recipeSnacksPic" alt="<%= dinnerRecipes[i].name %> Thumbnail">  
            <% } %>
          </div>
        <% } %>
      </div>
    </div>  

  </div> <!-- recipe container end-->
</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#search").on('keyup', function(){
        let filterText = $(this).val();
        filterArray = filterText.split(" ");
      //Search breakfast recipes
      $(".recipeBreakfast").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      $(".recipeBreakfastPic").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      //Search lunch recipes
      $(".recipeLunch").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      $(".recipeLunchPic").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      //Search dinner recipes
      $(".recipeDinner").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      $(".recipeDinnerPic").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      //Search snack recipes
      $(".recipeSnack").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      $(".recipeSnackPic").each(function (i, obj) {
        $(this).css("display", "block");
        for(let i = 0; i < filterArray.length; i++){
          let upText = filterArray.at(i).charAt(0).toUpperCase() + filterArray.at(i).substring(1);
          let upSearch = new RegExp(upText);
          let downText = filterArray.at(i).charAt(0).toLowerCase() + filterArray.at(i).substring(1);
          let downSearch = new RegExp(downText);
          if (
            !upSearch.test($(this).attr("data-recipe")) &&
            !downSearch.test($(this).attr("data-recipe"))
          ) {
            $(this).css("display", "none");
          }
        }
      });
      });
    });
  </script>
</html>