<!-- dashboard.ejs -->
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="dashboard.css" />
</head>

<body class="dashboard-page">
  <div class="black-rectangle-top"></div>
  <div class="topPanel">
    <div class="wheat_1"></div>
    <div class="wheat_2"></div>
  </div>

  <header>
    <h1>B o n&nbsp;&nbsp;&nbsp;A p p e t i t</h1>
    <t> healthy cooking</t>
  </header>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About Us</a></li>

      <li class="dropdown">
        <a href="/profile" class="dropbtn">

          Profile
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/dietTracker">Diet Tracker</a>
          <a href="/recipeCreate">Recipe Create</a>
          <a href="/dietPlanCreate">Diet Plan Create</a>
        </div>
      </li>
    </ul>
  </nav>

 <!-- Jokebar -->
 <div class="navbar">
  <%= joke.joke %>
</div> 
    

  <div class="bottomPanel">
    <div class="dashboard_pic"></div>
  </div>

  <div class="top-bottomPanel">
    <h2>LET'S GET</h2>
    <h3>Cooking</h3>
  </div>

  <!-- Search bar for recipe -->

  <div class="inputField">

    <input type="text" class="SearchTextBox" placeholder="Search for recipe" name="search" id="search" />
  </div>

  <!-- Recipe container -->
  <div class="recipeContainer">

    <!-- Breakfast recipes -->
    <div class="breakfastContainer">
      <h4>Breakfast</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < breakfastRecipes.length; i++) { %>
          <div data-recipe="<%= breakfastRecipes.at(i) %>" class="recipeBreakfast">
            <h7 class="breakfast-recipe-name">
              <%= breakfastRecipes.at(i).name %>
            </h7>
            <!-- If image does not have an image need default image loaded instead-->
          <% if(breakfastRecipes[i].thumbnail == null) { %>
            <div class="recipeBreakfastPic"><img src="plate.png" alt="<%= breakfastRecipes[i].name %> Thumbnail"style="max-height:240px; max-width: 160px;"> </div>
          <% } else { %> 
            <div class="recipeBreakfastPic"> <img src="data:image/jpeg;base64,<%= breakfastRecipes[i].thumbnail.toString('base64') %>" alt="<%= breakfastRecipes[i].name %> Thumbnail" style="max-height:240px; max-width: 160px;"></div>  
          <% } %>
          </div>
          <% } %>
      </div>

    <!-- Lunch recipes -->
    <div class="lunchContainer">
      <h4>Lunch</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < lunchRecipes.length; i++){%>
          <div data-recipe="<%=lunchRecipes.at(i)%>" class="recipeLunch">
            <h7 class="lunch-recipe-name">
              <%=lunchRecipes.at(i).name%>
            </h7>
          </div>
          <!-- If image does not have an image need default image loaded instead-->
          <% if(lunchRecipes[i].thumbnail == null) { %>
            <div class="recipeLunchPic"><img src="plate.png" alt="<%= lunchRecipes[i].name %> Thumbnail"style="max-height: 240px; max-width: 160px;"> </div>
          <% } else { %> 
            <div class="recipeLunchPic"> <img src="data:image/jpeg;base64,<%= lunchRecipes[i].thumbnail.toString('base64') %>" alt="<%= lunchRecipes[i].name %> Thumbnail" style="max-height:240px; max-width: 160px;"></div>  
          <% } %>        
        </div>
        <% } %>
      </div>

    <!-- Dinner recipes -->
    <div class="dinnerContainer">
      <h4>Dinner</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < dinnerRecipes.length; i++){%>
          <div data-recipe="<%=dinnerRecipes.at(i)%>" class="recipeDinner">
            <h7 class="dinner-recipe-name">
              <%=dinnerRecipes.at(i).name%>
            </h7>
          </div>
          <!-- If image does not have an image need default image loaded instead-->
          <% if(dinnerRecipes[i].thumbnail == null) { %>
            <div class="recipeDinnerPic"><img src="plate.png" alt=" <%= dinnerRecipes[i].name %> Thumbnail"style="max-height: 240px; max-width: 160px;"> </div>
            <% } else { %> 
            <div class="recipeDinnerPic"> <img src="data:image/jpeg;base64,<%= dinnerRecipes[i].thumbnail.toString('base64') %>" alt="<%= dinnerRecipes[i].name %> Thumbnail" style="max-height:170px; max-width: 170px; object-fit: cover;"></div>  
          <% } %>
        <% } %>
      </div>
    </div>


    <!-- Snacks recipes -->
    <div class="snacksContainer">
      <h4>Snacks</h4>
      <div class="recipeWrapper">
        <% for(let i=0; i < snackRecipes.length; i++){%>
          <div data-recipe="<%=snackRecipes.at(i)%>" class="recipeSnacks">
            <%=snackRecipes.at(i).name%>
          </div>
          <!-- If image does not have an image need default image loaded instead-->
          <% if(snackRecipes[i].thumbnail == null) { %>
            <div class="recipeSnackPic"><img src="plate.png" alt="<%= snackRecipes[i].name %> Thumbnail" style="max-height: 240px; max-width: 160px;"> </div>
            <% } else { %> 
            <div class="recipeSnackPic"> <img src="data:image/jpeg;base64,<%= snackRecipes[i].thumbnail.toString('base64') %>" alt="<%= dinnerRecipes[i].name %> Thumbnail" style="max-height:240px; max-width: 160px;"></div>  
            <% } %>
        <% } %>
      </div>
    </div>

  </div>
</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    function filterRecipes(filterText) {
      //uppercase search text
      let uppercaseSearch =
        filterText.charAt(0).toUpperCase() + filterText.substring(1);
      //lowercase search text
      let lowercaseSearch =
        filterText.charAt(0).toLowerCase() + filterText.substring(1);
      //create regex to search through recipes
      let upSearch = new RegExp(uppercaseSearch);
      let downSearch = new RegExp(lowercaseSearch);
      //Search breakfast recipes
      $(".recipeBreakfast").each(function (i, obj) {
        $(this).css("display", "block");
        if (
          !upSearch.test($(this).val) &&
          !upSearch.test($(this).attr("data-recipe")) &&
          !downSearch.test($(this).val) &&
          !downSearch.test($(this).attr("data-recipe"))
        ) {
          $(this).css("display", "none");
        }
      });
      //Search lunch recipes
      $(".recipeLunch").each(function (i, obj) {
        $(this).css("display", "block");
        if (
          !upSearch.test($(this).val) &&
          !upSearch.test($(this).attr("data-recipe")) &&
          !downSearch.test($(this).val) &&
          !downSearch.test($(this).attr("data-recipe"))
        ) {
          $(this).css("display", "none");
        }
      });
      //Search dinner recipes
      $(".recipeDinner").each(function (i, obj) {
        $(this).css("display", "block");
        if (
          !upSearch.test($(this).val) &&
          !upSearch.test($(this).attr("data-recipe")) &&
          !downSearch.test($(this).val) &&
          !downSearch.test($(this).attr("data-recipe"))
        ) {
          $(this).css("display", "none");
        }
      });
      //Search snack recipes
      $(".recipeSnack").each(function (i, obj) {
        $(this).css("display", "block");
        if (
          !upSearch.test($(this).val) &&
          !upSearch.test($(this).attr("data-recipe")) &&
          !downSearch.test($(this).val) &&
          !downSearch.test($(this).attr("data-recipe"))
        ) {
          $(this).css("display", "none");
        }
      });
    }
  </script>
</html>

