<html>

<head>
    <meta charset="UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="dietTracker.css" />
    <title>Bon Appetit - Diet Tracker</title>
</head>

<body>
    <%- include('navbar') %>
        <div class="calorie-counter">

            <h3 class="calories-remaining">
                <%= 2000 - calories %> cal left
            </h3>
            <p class="calories-consumed">
                <%= calories %> consumed
            </p>

        </div>
        <form id="dateForm" class="date-form">
            <div class="date-header">
                <div class="diary-title">
                    Diary
                    <div class="formatted-date">
                        <%= formatedDate %>
                    </div>
                </div>
                <div class="date-picker">
                    <!-- <label for="datepicker">Select a Date:</label> -->
                    <input type="date" id="datepicker" value="<%=formatedDate%>" name="datepicker"
                        onchange="submitForm()">


                </div>
            </div>
        </form>

        <script>
            function submitForm() {
                document.getElementById("dateForm").submit();
            }

        </script>


        <div class="header-container">
            <h2>Breakfast</h2>
            <form action="/addFood" method="get">
                <input type="hidden" value="<%= formatedDate %>" name="date" id="date" />
                <input type="hidden" value="Breakfast" name="mealType" id="mealType" />
                <button type="submit">+</button>
            </form>
        </div>
        <div class="recipeWrapper">
            <% for(let i=0; i < breakfastNames.length; i++) { %>
                <div data-recipe="<%= breakfastNames.at(i) %>" class="recipeBreakfast">
                    <div class="item-header">
                        <h7 class="breakfast-recipe-name">
                            <%= breakfastNames.at(i) %>
                        </h7>
                        <form action="/removeFood" method="post">
                            <input type="hidden" value="<%=breakfastTracked.at(i)._id %>" name="name" id="date" />
                            <button type="submit" onClick="">-</button>
                        </form>
                    </div>

                </div>
                <% } %>
        </div>
        <div class="header-container">
            <h2>Lunch</h2>
            <form action="/addFood" method="get">
                <input type="hidden" value="<%= formatedDate %>" name="date" id="date" />
                <input type="hidden" value="Lunch" name="mealType" id="mealType" />
                <button type="submit">+</button>
            </form>
        </div>
        <div class="recipeWrapper">
            <% for(let i=0; i< lunchNames.length; i++) { %>
                <div data-recipe="" <%=lunchNames.at(i) %>" class="recipeLunch">
                    <div class="item-header">
                        <h7 class="Lunch-recipe-name">
                            <%= lunchNames.at(i) %>
                        </h7>
                        <form action="/removeFood" method="post">
                            <input type="hidden" value="<%=lunchTracked.at(i)._id %>" name="name" id="date" />
                            <button type="submit" onClick="">-</button>
                        </form>

                    </div>
                </div>
                <% } %>
        </div>

        <div class="header-container">
            <h2>Dinner</h2>
            <form action="/addFood" method="get">
                <input type="hidden" value="<%= formatedDate %>" name="date" id="date" />
                <input type="hidden" value="Dinner" name="mealType" id="mealType" />
                <button type="submit">+</button>
            </form>
        </div>
        <div class="recipeWrapper">
            <% for(let i=0; i< dinnerNames.length; i++) { %>
                <div data-recipe="" <%=dinnerNames.at(i) %>" class="recipeDinner">
                    <div class="item-header">
                        <h7 class="Dinner-recipe-name">
                            <%= dinnerNames.at(i) %>
                        </h7>
                        <form action="/removeFood" method="post">
                            <input type="hidden" value="<%=dinnerTracked.at(i)._id %>" name="name" id="date" />
                            <button type="submit" onClick="">-</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>

        <div class="header-container">
            <h2>Snacks</h2>
            <form action="/addFood" method="get">
                <input type="hidden" value="<%= formatedDate %>" name="date" id="date" />
                <input type="hidden" value="Snacks" name="mealType" id="mealType" />
                <button type="submit">+</button>
            </form>
        </div>

        <div class="recipeWrapper">
            <% for(let i=0; i< snackNames.length; i++) { %>
                <div data-recipe="" <%=snackNames.at(i) %>" class="recipeSnack">
                    <div class="item-header">
                        <h7 class="Snack-recipe-name">
                            <%= snackNames.at(i) %>
                        </h7>

                        <form action="/removeFood" method="post">
                            <input type="hidden" value="<%=snackTracked.at(i)._id %>" name="name" id="date" />
                            <button type="submit" onClick="">-</button>
                        </form>
                    </div>

                </div>
                <% } %>
        </div>

</body>