<head>
    <title>Dietitians!</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div>
    <h1>My Dietitian</h1>

    <p><%= loggedInMember.firstName %>&nbsp;<%= loggedInMember.lastName %></p>
    <p id="currentActiveDietitian">Current Active Dietitian: <%= currentActiveDietitianName %></p>

    <p>List of Dietitians:</p>
    <input type="text" id="searchBar" placeholder="Search dietitians..." autocomplete="off">

    <ul id="dietitianList">
        <% dietitians.forEach(function(dietitian) { %>
            <li class="dietitian-item" data-id="<%= dietitian.googleID %>" data-name="<%= dietitian.firstName %> <%= dietitian.lastName %>" data-gender="<%= dietitian.gender %>" data-dietType="<%= dietitian.diettype %>">
                <a href="javascript:void(0);"><%= dietitian.firstName %> <%= dietitian.lastName %></a>
            </li>
        <% }); %>
    </ul>

    <form action="/dashboard" method="get">
        <button type="submit">Dashboard</button>
    </form>
</div>

<!-- Place this at the bottom of your EJS file, before the closing </body> tag -->
<div id="dietitianModal"
     style="display:none; position:fixed; z-index:1; left:0; top:0; width:100%; height:100%; overflow:auto; background-color:rgba(0,0,0,0.4);">
    <div style="background-color:#fefefe; margin:15% auto; padding:20px; border:1px solid #888; width:80%;">
        <span id="closeModal"
              style="color:#aaa; float:right; font-size:28px; font-weight:bold; cursor:pointer;">&times;</span>
        <h2>Dietitian Details</h2>
        <p id="dietitianName"></p>
        <p id="dietitianDietType"></p>
        <p id="dietitianGender"></p>
        <button id="assignDietitianButton" onclick="assignDietitian()">Assign as My Dietitian</button>
    </div>
</div>
</body>

<script src="/script.js"></script>
