<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profile</title>
</head>
<body>
<div>
	<form action="/dashboard" method="get">
		<button type="submit">Go to Main Page</button>
	</form>
  <% 
        // Server-side code to calculate age
        const currentDate = new Date();
        const diff = currentDate - loggedInMember.birthday;
        const ageDate = new Date(diff);
        const age = Math.abs(ageDate.getUTCFullYear() - 1970);
    %>
</div>
<h2>Edit Member Information</h2>
<form action="editProfile", method="post">
  <input type="hidden", name="ID", id="ID" value=<%= loggedInMember.googleId %>></br>
  <label for="FN">First Name:</label>
  <input type="text", name="FN", id="FN" value=<%= loggedInMember.firstName %>></br>
  <label for="LN">Last Name:</label>
  <input type="text", name="LN", id="LN" value=<%= loggedInMember.lastName %>></br>
  <label for="GN">Gender:</label>
  <select id="GN" name="GN">
      <option value="Male" <%= loggedInMember.gender === 'Male' ? 'selected' : '' %> >Male</option>
      <option value="Female" <%= loggedInMember.gender === 'Female' ? 'selected' : '' %>>Female</option>
  </select></br>
  <label for="diet">Choose a diet:</label>
  <select id="diet" name="diet">
      <option value="Carnivore" <%= loggedInMember.diet === 'Carnivore' ? 'selected' : '' %>>Carnivore</option>
      <option value="Vegan" <%= loggedInMember.diet === 'Vegan' ? 'selected' : '' %>>Vegan</option>
      <option value="Vegetarian" <%= loggedInMember.diet === 'Vegetarian' ? 'selected' : '' %>>Vegetarian</option>
      <option value="Pescatarian" <%= loggedInMember.diet === 'Pescatarian' ? 'selected' : '' %>>Pescatarian</option>
      <option value="Keto" <%= loggedInMember.diet === 'Keto' ? 'selected' : '' %>>Ketogenic (Keto)</option>
      <option value="Paleo" <%= loggedInMember.diet === 'Paleo' ? 'selected' : '' %>>Paleo</option>
      <option value="Flexitarian" <%= loggedInMember.diet === 'Flexitarian' ? 'selected' : '' %>>Flexitarian</option>
      <option value="Whole30" <%= loggedInMember.diet === 'Whole30' ? 'selected' : '' %>>Whole30</option>
      <option value="Glutenfree" <%= loggedInMember.diet === 'Glutenfree' ? 'selected' : '' %>>Gluten-Free</option>
      <option value="Dairyfree" <%= loggedInMember.diet === 'Dairyfree' ? 'selected' : '' %>>Dairy-Free</option>
      <option value="Raw" <%= loggedInMember.diet === 'Raw' ? 'selected' : '' %>>Raw</option>
      <option value="Beans" <%= loggedInMember.diet === 'Beans' ? 'selected' : '' %>>Beans</option>
      <option value="Macrobiotic" <%= loggedInMember.diet === 'Macrobiotic' ? 'selected' : '' %>>Macrobiotic</option>
      <option value="Fruitarian" <%= loggedInMember.diet === 'Fruitarian' ? 'selected' : '' %>>Fruitarian</option>
      <option value="Lowcarb" <%= loggedInMember.diet === 'Lowcarb' ? 'selected' : '' %>>Low Carb</option>
      <option value="Mediterranean" <%= loggedInMember.diet === 'Mediterranean' ? 'selected' : '' %>>Mediterranean</option>
      <option value="Paleovegan" <%= loggedInMember.diet === 'Paleovegan' ? 'selected' : '' %>>Paleo Vegan</option>
      <option value="Paleovegetarian" <%= loggedInMember.diet === 'Paleovegetarian' ? 'selected' : '' %>>Paleo Vegetarian</option>
      <!-- Add more diet options as needed -->
  </select></br>

  <!--<p>Dietitian: <%= loggedInMember.dietitian %></p>-->
  <label for="DT">Dietitian:</label>
  <input type="text", name="DT", id="DT" readonly value=<%= loggedInMember.dietitian %>> </br>
  <label for="birthdate">Birthdate:</label>
  <input type="date" id="birthdate" name="birthdate" value= <%= loggedInMember.birthday.toISOString().slice(0, 10); %>> </br>
  <label for="EMAIL">Email:</label>
  <input type="email", name="EMAIL", id="EMAIL" value=<%= loggedInMember.email %>></br>
  <input type="hidden", name="UT", id="UT" value=<%=loggedInMember.usertype%>>
    
  <label for="cuisine">Use ctrl to select multiple:</label></br>
  <label for="cuisine">Preferred Cuisine:</label>
  <select id="cuisine" name="cuisine" multiple>
      <option value="Italian" <%= loggedInMember.cuisines.includes('Italian') ? 'selected' : '' %>>Italian</option>
      <option value="Mexican" <%= loggedInMember.cuisines.includes('Mexican') ? 'selected' : '' %>>Mexican</option>
      <option value="Chinese" <%= loggedInMember.cuisines.includes('Chinese') ? 'selected' : '' %>>Chinese</option>
      <option value="Indian" <%= loggedInMember.cuisines.includes('Indian') ? 'selected' : '' %>>Indian</option>
      <option value="Japanese" <%= loggedInMember.cuisines.includes('Japanese') ? 'selected' : '' %>>Japanese</option>
      <option value="Thai" <%= loggedInMember.cuisines.includes('Thai') ? 'selected' : '' %>>Thai</option>
      <option value="Mediterranean" <%= loggedInMember.cuisines.includes('Mediterranean') ? 'selected' : '' %>>Mediterranean</option>
      <option value="French" <%= loggedInMember.cuisines.includes('French') ? 'selected' : '' %>>French</option>
      <option value="Spanish" <%= loggedInMember.cuisines.includes('Spanish') ? 'selected' : '' %>>Spanish</option>
      <option value="Greek" <%= loggedInMember.cuisines.includes('Greek') ? 'selected' : '' %>>Greek</option>
      <option value="Korean" <%= loggedInMember.cuisines.includes('Korean') ? 'selected' : '' %>>Korean</option>
      <option value="Vietnamese" <%= loggedInMember.cuisines.includes('Vietnamese') ? 'selected' : '' %>>Vietnamese</option>
      <option value="American" <%= loggedInMember.cuisines.includes('American') ? 'selected' : '' %>>American</option>
      <option value="Middleeastern" <%= loggedInMember.cuisines.includes('Middleeastern') ? 'selected' : '' %>>Middle Eastern</option>
      <option value="Brazilian" <%= loggedInMember.cuisines.includes('Brazilian') ? 'selected' : '' %>>Brazilian</option>
      <option value="Caribbean" <%= loggedInMember.cuisines.includes('Caribbean') ? 'selected' : '' %>>Caribbean</option>
      <option value="African" <%= loggedInMember.cuisines.includes('African') ? 'selected' : '' %>>African</option>
      <!-- Add more cuisine options as needed -->
  </select></br>
  
  <!--<p>cuisines: <%= loggedInMember.cuisines %></p></br>-->
  <p>About Me: <textarea id="aboutMe" name="aboutMe" rows="4" cols="50"> <%= loggedInMember.aboutMe %></textarea> </p>
  <input type="submit">
</form>
  <a href="/profile"><button type="button">Back to Profile</button></a>

</body>
</html>

