<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="profile.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profile</title>
</head>
<body>
<div>
	<form action="/dashboard" method="get">
		<button type="submit">Go to Main Page</button>
	</form>
  <% 
        // Server-side code to calculate age
        const currentDate = new Date();
        const diff = currentDate - loggedInMember.birthday;
        const ageDate = new Date(diff);
        const age = Math.abs(ageDate.getUTCFullYear() - 1970);
    %>
</div>
<h1 class="title">P&nbsp;r&nbsp;o&nbsp;f&nbsp;i&nbsp;l&nbsp;e</h1>
<div class = "outer-container">
  <div class = "left-container">
    <img src=<%= user.picture %> style="border-radius:50%;width:150px;height:150px;">
    <p><%= loggedInMember.firstName %>&nbsp;<%= loggedInMember.lastName %></p>
    <p><%= loggedInMember.usertype %></p>
    <p><%= age %> </p>
    <p><%= loggedInMember.gender %></p>
    <p><%= loggedInMember.email %></p>
  </div>
  <div class = "right-container">
    <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <%= loggedInMember.aboutMe %> </p>
    <p>Dietitian: <%= loggedInMember.dietitian %></p>
    <p>Diet Type: <%= loggedInMember.dietType %></p>
    <p>Cuisines: <%= loggedInMember.cuisines %></p>
    <br>
    <button class ="editButton" id="edit" onclick="edit()">Edit Profile</button>
      <script>
        function edit() {
            window.location.href = "/profileEdit";
        }
      </script>
  </div>
</div>
<h1>Recent Recipes</h1>
<div class = "recipe-container">
  <div class="left-recipe">
    <div class="left-box">
      <p class="name">test</p>
    </div>
    <div class="left-image">
      
    </div>
  </div>
  <div class="middle-recipe">
    <div class="middle-box">
      <p class="name">test</p>
    </div>
    <div class="middle-image">
    </div>
  </div>
  <div class="right-recipe">
    <div class="right-box">
      <p class="name">test</p>
    </div>
    <div class="right-image">
    </div>
  </div>
</div>

<button id="edit" onclick="edit()">Edit Profile</button>
<script>
  function edit() {
      window.location.href = "/profileEdit";
  }
</script>



</body>
</html>

