
<div>
  <h1><%= title %></h1>
	<form action="/dashboard" method="get">
		<button type="submit">Go to Main Page</button>
	</form>
  <title><%= title %></title>
  <h2>Member Information</h2>
  <p>First Name: <%= firstName || 'N/A' %></p>
  <p>Last Name: <%= lastName || 'N/A' %></p>
  <p>Gender: <%= gender || 'N/A' %></p>
  <p>Diet Type: <%= dietType || 'N/A' %></p>
  <p>Dietitian: <%= dietitian || 'N/A' %></p>
</div>
